<div class="panel grid-col grid-12">
  <h2 class="hd">Available wireless networks</h2>
  <p class="intro">To connect your <%= product_name %> to the internet, select a Wi-Fi network from the list.</p>
  <%= erb :access_points_list %>
</div><!-- .grid-col .panel -->
