<div class="panel grid-col grid-12">
  <h1 class="hd">Changes saved</h1>
  <p class="intro">Restart your <%= product_name %> for these changes to take effect.</p>
  <form method="POST">
    <input class="btn btn-with-text btn-destructive" type="submit" value="Restart now" />
  </form>
</div><!-- .panel.grid-col -->
