<p  data-polling
    data-polling-delay="5s"
    data-polling-interval="1s"
    data-polling-endpoint="/"
    data-polling-action="/">
    <span class="loading loading-13"></span> Restarting&hellip;
</p>
