<div class="panel grid-col grid-12 restarting">
  <h1 class="hd">Restarting</h1>
  <p class="intro"><span class="loading loading-13"></span> Restarting your <%= product_name %>&hellip;</p>
  <!--
  <p  class="intro"
      data-polling
      data-polling-delay="5s"
      data-polling-interval="1s"
      data-polling-endpoint="/"
      data-polling-action="/">
      Restarting your <%= product_name %>&hellip;
  </p>
  -->
</div><!-- .panel.grid-col -->
